__pycache__/
/secrets.yaml
/custom_components
/known_devices.yaml
/.storage
*.json
*.conf
*.log
*.db
/www/community/*
/www/custom-lovelace/*
/www/upcoming-media-card-images/*
/.ssh/
/custom_components/
/tts/
/themes/
*.yaml
/appdaemon
.HA_VERSION
*.*